---
interface Props {
  href?: string;
  target?: string;
  itemid?: string;
  icon: string;
  size?: number;
  id?: string;
}

const { href, target, itemid, icon, size, id } = Astro.props;
const classes: string[] = [];
classes.push("rounded-full p-2 bg-transparent hover:bg-gray-50");
classes.push("cursor-pointer dark:invert dark:hover:bg-gray-300");

let width = 32;
if (size) {
  width = size * 10;
}
---

<a href={href} target={target} itemid={itemid} id={id}>
  <div class:list={classes}>
    <img src={`/assets/icons/${icon}.svg`} alt='👾' width={width} />
  </div>
</a>
