---
import Button from "@components/Base/Button.astro";
import Typo from "@components/Base/Typo.astro";
import Header from "@components/Header/index.astro";
import NavBar from "@components/NavBar";
import BaseLayout from "./BaseLayout.astro";
import Main from "./Main.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    image: {
      url: string;
      alt: string;
    };
    techs: string[];
  };
}

const { title, description, image, techs } = Astro.props.frontmatter;
---

<script>
  const classes: string[] = [];
  const baseClass =
    " rounded-md shadow dark:text-white cursor-pointer inline-block text-center my-2 px-4 py-2 transition duration-300 ease-in-out";
  classes.push(baseClass);
  classes.push("bg-sky-400 text-white hover:bg-sky-500");
  classes.push("dark:bg-cyan-600 text-white dark:hover:bg-cyan-500");
  classes.push("self-center");
  const pTags = document.querySelectorAll(".post-container p:has(a)");
  // console.log("pTags", pTags);
  pTags.forEach(
    (pTag) =>
      (pTag.className = "flex justify-center items-center flex-wrap gap-2")
  );
  const aTags = document.querySelectorAll(".post-container a");
  // console.log("aTags", aTags);
  aTags.forEach((aTag) => {
    aTag.className = classes.join(" ");
    aTag.setAttribute("target", "_blank");
  });
</script>
<BaseLayout title={title} description={description} ogImageURL={image.url}>
  <Main>
    <Header />
    <NavBar client:only='react' />
    <Typo variant='h2'>{title}</Typo>
    <div class='bg-slate-200 dark:bg-stone-800 rounded-lg flex justify-center'>
      <img src={image.url} alt={image.alt} class='rounded' />
    </div>
    <div class='dark:text-white flex flex-col gap-4 mt-4 post-container'>
      <slot />
    </div>
    {
      techs && (
        <div class='mt-4'>
          <Typo variant='h5'>Techs usadas neste projeto</Typo>
          <div class='flex flex-wrap gap-2 justify-center'>
            {techs.map((tech) => (
              <Button color='info' href={`/techs/${tech}`} size='small'>
                {tech}
              </Button>
            ))}
          </div>
        </div>
      )
    }
  </Main>
</BaseLayout>
<style is:inline>
  .post-container a {
    display: block;
  }
  blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
</style>
